*.svn
*.DS_Store
*.mode1v3
*.pbxuser
*.dia~
nestedversioning.xcodeproj/project.xcworkspace/xcuserdata/
*~
!default.pbxuser
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
build
*.xcuserstate
*.~lock.*
StoreBrowser.app
obj
