<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nestedversioning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662811F513F8B5010075BBC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6628121913F8B5010075BBC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E22EC51421D47100C00A98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
